/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
/*Ой, спасибо =) Таак много просторно !)*/
* {
    margin: 0;
    padding: 0;
  }
.wrapper{
    width: 1920px;
    background: #F6F6F6;
    margin: 0 auto;
}
.week_product{
    height: 694px;
}
h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    width: 481px;
    height: 72px;
    margin: 0 auto;
    margin-top: 40px;
    color: #000000;
}
.product_cards{
    display: flex;
    width: 1180px;
    height: 482px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 20px;
    
}
.product_card{
    width: 380px;
    height: 481.72px;
    display: grid;
    grid-template-rows: 213.75px 45px 150px auto ;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    transition: transform .2s;
    overflow: auto;
}
.product_card:hover{
    transform: scale(1.03);
    cursor: pointer;
    
}
.apelsino_img{
    width: 100%;
    height: 213.75px;
    border-top-left-radius: 12px; 
    border-top-right-radius: 12px ;  
    
}
h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #2F2F2F;
    width: 332px;
    height: 36px;
    margin: 0 auto;
    margin-top: 24px;
}
.apelsino_text{
    width: 332px;
    height: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 32px;
    text-overflow: inherit;
   
}
.apelsino_button{
    height: 48px;
    width: 332px;
    margin: 0 auto;
    background: #FFFFFF;
    color: #42940F;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #42940F;
    border-radius: 8px;
}
.apelsino_button:hover{
    background:#42940F;
    color: #FFFFFF;
    cursor: pointer;
}
.apelsino_button:active{
    background:#1F5200;
    color: #FFFFFF;
    border: 2px solid #1F5200
}
.apelsino_button:disabled{
    background: #4E4E4E;
    border: 1px solid #4E4E4E;
    color: #FFFFFF;
    
}
.baner_new_last{
    position: absolute;
    display: flex;
    gap: 16.73px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 16px;
}
.new{
    height: 25px;
    width: 111px;
    background: #FDCFF3;
    border-radius: 8px;
    text-align: center;
}
.last{
    height: 24px;
    width: 134.41px;
    background: #FFCF56;
    border-radius: 8px;
    text-align: center;

}

