/* Смотри сколько снизу свободного места! Оно идеально подойдёт, чтобы писать твои стили! */
/*Ой, спасибо =) Таак просторно !)
Добавил адаптив на 1024px и 768px*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
html{height:100%}
body{line-height:1}
ol,ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}
table{border-collapse:collapse;border-spacing:0}


body{
    background: #F6F6F6;
}
.wrapper{
    width: 100%;
    margin: 0 auto;
}
.week_product{
    height: 694px;
}
h1{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    width: 481px;
    height: 72px;
    margin: 0 auto;
    margin-top: 40px;
    color: #000000;
}
.product_cards{
    display: flex;
    max-width: 1180px;
    height: 482px;
    margin: 0 auto;
    margin-top: 40px;
    gap: 20px;
}
.product_card{
    position: relative;
    max-width: 380px;
    height: 481.72px;
    display: grid;
    grid-template-rows: 213.75px 45px 150px auto ;
    background: #FFFFFF;
    border-radius: 12px;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    overflow: hidden;
    transition: 0.4s;
}
.product_card:hover{
    cursor: pointer;
    box-shadow: -1rem 0 3rem #000;
    transform: scale(1.03);
    transition: 0.4s;
}
.apelsino_img{
    width: 100%;
}
h2{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #2F2F2F;
    width: 332px;
    height: 36px;
    margin: 0 auto;
    margin-top: 24px;
}
.apelsino_text{
    max-width: 332px;
    height: 48px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0 auto;
    margin-top: 32px;
}
.apelsino_button{
    height: 48px;
    width: 332px;
    margin: 0 auto;
    background: #FFFFFF;
    color: #42940F;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    border: 2px solid #42940F;
    border-radius: 8px;
}
.apelsino_button:hover{
    background:#42940F;
    color: #FFFFFF;
    cursor: pointer;
}
.apelsino_button:active{
    background:#1F5200;
    color: #FFFFFF;
    border: 2px solid #1F5200
}
.apelsino_button:disabled{
    background: #4E4E4E;
    border: 1px solid #4E4E4E;
    color: #FFFFFF;
}
.baner_new_last{
    position: absolute;
    display: flex;
    gap: 16.73px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 16px 0 0 16px;
}
.new{
    height: 25px;
    width: 111px;
    background: #FDCFF3;
    border-radius: 8px;
    text-align: center;
}
.last{
    height: 24px;
    width: 134.41px;
    background: #FFCF56;
    border-radius: 8px;
    text-align: center;
}
@media (max-width: 1024px){
    .wrapper{
        max-width: 984px;
    }
    .product_cards{
        gap: 10px;
    }
    h2{
        text-align: center;
        width: 260px;
    }
    .apelsino_button{
        width: 240px;
    }
    .apelsino_text{
        width: 280px;
    }
    .product_card{
        transition: 0.4s;
    }
    .product_card:hover {
        transform: translateY(-20px);
        transition: 0.4s;
        box-shadow: -1rem 0 3rem #000;
        width: 380px;
      }
}
@media (max-width: 768px){
    .wrapper{
        max-width: 708px;
    }
    .product_cards{
        width: 100%;
        gap: 0px;
        justify-content: center;
    }
    h2{
        text-align: center;
        width: 260px;
    }
    .apelsino_button{
        width: 240px;
    }
    .apelsino_text{
        width: 280px;
    }
    .product_card{
        width: 350px;
        box-shadow: 0rem -1px 3rem 6px #000000a1;
        transition: 0.4s ;
    }
    .product_card:last-child{
        transform: rotate3d(0, 1, 0, -30deg)
    }
    .product_card:first-child{
        transform: rotate3d(0, 1, 0, 30deg)
    }
    .product_card:not(:last-child) {
        margin-right: -150px;
    }
    .product_card:not(:last-child):not(:first-child){
        z-index: 1;
    }
    .product_card:hover {
        transform: translateY(-20px);
        transition: 0.4s ;
        z-index: 2;
        box-shadow: -1rem 0 3rem #000;
        width: 380px;
      }
}